@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Fruktur&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: #845EC2;
    background-image: linear-gradient(#845EC2, #009EFA);
    min-height: 100%;
}

body #title {
    text-align: center;
    font-family: 'Bungee Shade', sans-serif;
    color: #fff;
    margin-top: 4rem;
}

/* Positioning game-info-container */

.game-info-container {
    width: 640px;
    height: 100px;
    margin: auto;
    margin-top: 4rem;
    display: flex;
}

/* Positioning button and indicator timer and moves */

.btn-order {
    display: flex;
    flex-direction: column;
}

/* Styling all buttons with font-family  */

.btn {
    color: #fff;
    background-color: #4FFBDF;
    font-family: Fruktur, sans-serif;
    font-size: 24px;
    padding: 6px 28px;
    border-radius: 5px;
}

.indicator {
    margin-left: 2rem;
}

#timer,
#moves {
    display: inline-block;
    margin-left: 0.5rem;
}

.typo,
#timer,
#moves,
li {
    color: #fff;
    font-size: 24px;
    font-family: Fruktur, sans-serif;
}

.typo,
#timer,
#moves {
    margin-top: 1rem;
}

/* Positioning container with cards */

.game-container {
    width: 640px;
    height: 640px;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    margin-top: 2rem;
    perspective: 1000px;
}

/* dimension and postioning memory-card and flip effect 3d - inspiration .https://www.w3schools.com/howto/howto_css_flip_image.asp */

.memory-card {
    height: calc(25% - 10px);
    width: calc(25% - 10px);
    margin: 5px;
    position: relative;
    transition: 0.8s;
    transform-style: preserve-3d;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.face,
.back {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.face {
    transform: rotateY(180deg);
}

/* Styling modal window, win, lost and rules */

.rules {
    width: 640px;
    height: 300px;
    background-color: #009EFA;
    margin: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.rules h1 {
    text-align: center;
    font-family: 'Bungee Shade', sans-serif;
    color: #fff;
}

.rules,
h1,
ul,
button {
    margin-top: 1rem;
}

.rules li {
    text-align: center;
    list-style-type: none;
}

.won {
    width: 640px;
    height: 300px;
    background-color: #009EFA;
    margin: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.won h1 {
    text-align: center;
    font-family: 'Bungee Shade', sans-serif;
    color: #fff;
    margin-bottom: 4rem;
}



.lost {
    width: 640px;
    height: 300px;
    background-color: #009EFA;
    margin: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.lost h1 {
    text-align: center;
    font-family: 'Bungee Shade', sans-serif;
    color: #fff;
    margin-bottom: 4rem;
}


/* Styling and positioning  .btn-modal  */

.btn-modal {
    color: #fff;
    font-size: 24px;
    background-color: #009EFA;
    margin: 0;
}

.right {
    display: flex;
    justify-content: flex-end;
}

/* Positioning button */

/* .center button {
    margin-top: 4rem;
} */

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}